#gameboard {
	border-collapse: collapse;
    border-spacing: 0;
}
#gameboard td {
	height: 20px;
	width: 20px;
	padding: 0px;
	border: 1px solid black;
	cursor: pointer;
	
    transition: background .2s;

}

#gameboard tr {
	padding: 0px;
}

.active-cell {
	background: black;
}

/*remove*/

.mouseover {
	background: red;
}

/*.dragstart {
	background: green;
}*/

@keyframes fadein {
    from {opacity: 0%;	}
    to   {opacity: 100%;}
}

@keyframes fadeout {
    from {opacity: 100%;}
    to   {opacity: 0%;	}
}